.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0;
  border-radius: 7px;
  color: #0070f3;
  background-color: transparent;
  border: none;
  font-size: inherit;
  line-height: inherit;
  -webkit-transition: background-color 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
  transition: background-color 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
  outline: none;
}

.button--primary {
  background-color: rgba(0,118,255,0.9);
  color: #fff;
  border: 1px solid rgba(0,118,255,0.9);
  padding: 0.25rem 1rem;
  font-weight: 500;
}

.button--primary:hover {
  background-color: transparent;
  color: rgba(0,118,255,0.9);
}
