.footer {
  padding: 2rem 0 4rem;
  background-color: #fafafa;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  overflow: hidden;
  min-height: 200px;
  display: flex;
  align-items: center;
  font-size: 12px;
}
