.home {
  display: flex;
  align-items: center;
  flex: 1;
  background: linear-gradient(145deg, #f44336, #2196f3, #00c853, #ffc107, #673ab7);
  background-size: 1000% 1000%;
  animation: gradient 60s ease infinite;
  color: #fff;
}

@keyframes gradient {
  0%{background-position:10% 0%}
  50%{background-position:90% 100%}
  100%{background-position:10% 0%}
}

.home h1 {
  font-size: calc(40px + 5vw);
  line-height: 1;
  letter-spacing: -0.05em;
  font-weight: 800;
  text-align: center;
  text-shadow: 2px 2px rgba(0,0,0,.2);
}

.logo {
  margin: 0 auto;
  width: 120px;
}

.home h3 span {
  font-size: 1.3em;
  text-shadow: 2px 2px rgba(0,0,0,.2);
}

.home h4 span {
  font-size: 1.1em;
  text-shadow: 2px 2px rgba(0,0,0,.2);
}
